body {
  background: linear-gradient(
    to right,
    purple 0%,
    purple 50%,
    white 50%,
    white 100%
  );
}

body {
  color: lightcoral;
  opacity: 75%;
  font-weight: bolder;
  font-style: italic;
}

.prog {
  font-size: xx-large;
  font-weight: bold;
}

.es_1 {
  display: inline-block;
  margin: 20px;
  position: relative;
  left: 25%;
  margin-left: -100px;
  padding: 1rem 2rem;
  font-weight: 700;
  background: rgb(224, 224, 224);
  color: blueviolet;
  border-radius: 0.5rem;
  border-bottom: 2px solid blueviolet;
  border-right: 2px solid blueviolet;
  border-top: 2px solid white;
  border-left: 2px solid white;
  transition-duration: 1s;
  transition-property: border-top, border-left, border-bottom, border-right,
    box-shadow;
  cursor: pointer;
}

.es_1:hover {
  border-top: 2px solid blueviolet;
  border-left: 2px solid blueviolet;
  border-bottom: 2px solid rgb(127, 0, 255);
  border-right: 2px solid rgb(127, 0, 255);
  box-shadow: rgba(255, 255, 255, 0.4) 5px 5px,
    rgba(255, 255, 255, 0.3) 10px 10px, rgba(255, 255, 255, 0.2) 15px 15px;
  cursor: pointer;
}

.es_2 {
  display: inline-block;
  margin: 20px;
  position: relative;
  left: 33%;
  margin-left: -100px;
  padding: 1rem 2rem;
  font-weight: 700;
  background: rgb(224, 224, 224);
  color: blueviolet;
  border-radius: 0.5rem;
  border-bottom: 2px solid blueviolet;
  border-right: 2px solid blueviolet;
  border-top: 2px solid white;
  border-left: 2px solid white;
  transition-duration: 1s;
  transition-property: border-top, border-left, border-bottom, border-right,
    box-shadow;
  cursor: pointer;
}

.es_2:hover {
  border-top: 2px solid blueviolet;
  border-left: 2px solid blueviolet;
  border-bottom: 2px solid rgb(127, 0, 255);
  border-right: 2px solid rgb(127, 0, 255);
  box-shadow: rgba(255, 255, 255, 0.4) 5px 5px,
    rgba(255, 255, 255, 0.3) 10px 10px, rgba(255, 255, 255, 0.2) 15px 15px;
  cursor: pointer;
}

.es_3 {
  display: inline-block;
  margin: 20px;
  position: relative;
  left: 44%;
  margin-left: -100px;
  padding: 1rem 2rem;
  font-weight: 700;
  background: rgb(224, 224, 224);
  color: blueviolet;
  border-radius: 0.5rem;
  border-bottom: 2px solid blueviolet;
  border-right: 2px solid blueviolet;
  border-top: 2px solid white;
  border-left: 2px solid white;
  transition-duration: 1s;
  transition-property: border-top, border-left, border-bottom, border-right,
    box-shadow;
  cursor: pointer;
}

.es_3:hover {
  border-top: 2px solid blueviolet;
  border-left: 2px solid blueviolet;
  border-bottom: 2px solid rgb(127, 0, 255);
  border-right: 2px solid rgb(127, 0, 255);
  box-shadow: rgba(76, 0, 153, 0.4) 5px 5px, rgba(76, 0, 153, 0.3) 10px 10px,
    rgba(76, 0, 153, 0.2) 15px 15px;
  cursor: pointer;
}

.es_4 {
  display: inline-block;
  margin: 20px;
  position: relative;
  left: 50%;
  margin-left: -100px;
  padding: 1rem 2rem;
  font-weight: 700;
  background: rgb(224, 224, 224);
  color: blueviolet;
  border-radius: 0.5rem;
  border-bottom: 2px solid blueviolet;
  border-right: 2px solid blueviolet;
  border-top: 2px solid white;
  border-left: 2px solid white;
  transition-duration: 1s;
  transition-property: border-top, border-left, border-bottom, border-right,
    box-shadow;
  cursor: pointer;
}

.es_4:hover {
  border-top: 2px solid blueviolet;
  border-left: 2px solid blueviolet;
  border-bottom: 2px solid rgb(127, 0, 255);
  border-right: 2px solid rgb(127, 0, 255);
  box-shadow: rgba(76, 0, 153, 0.4) 5px 5px, rgba(76, 0, 153, 0.3) 10px 10px,
    rgba(76, 0, 153, 0.2) 15px 15px;
  cursor: pointer;
}

.logo {
}

.punkosd {
  width: 49%;
  height: 450px;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

.punkosd h1 {
  color: #E2E2E2;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;

}

.punkosd p {
  color: #E2E2E2;
}

.varjatek {
  width: 45%;
  height: 460px;
  float: right;
  margin-right: 45px;
  display: inline-block;
}

.meses {
  width: 46%;
  height: 49%;
  float: right;
  margin-right: 30px;
  margin-top: 20px;
}

.mesesvarjatekeok {
  width: 49%;
  height: 300px;
  margin: 10px;
  margin-top: 40px;
  padding: 10px;
  border: 2px solid black;
}

.mesesvarjatekeok h1 {
  text-align: center;
  color: #E2E2E2;
}

.mesesvarjatekeok p {
  color: #E2E2E2;
}

.szentisti {
  float: inline-end;
  margin-top: 70px;
  margin-left: 600px;
  margin-right: 140px;
}

.isti {
  border: 2px solid black;
  width: 49%;
  margin-left: 10px;
  margin-top: 500px;
}

.isti h1 {
  text-align: center;
  color: #E2E2E2;
}

.isti p {
  color: #E2E2E2;
}

.szureti_img {
  width: 48%;
  height: 50%;
  float: right;
  margin-top: 20px;
  margin-right: 15px;
}

.sureti {
  border: 2px solid black;
  width: 49%;
  margin-left: 10px;
  margin-top: 300px;
}

html {
  scroll-behavior: smooth;
}