body {


    background: linear-gradient(to right, purple 0%, purple 50%, white 50%, white 100%);

}

body {

   color: lightcoral ;
    opacity: 75%;
    font-weight: bolder ;
    font-style: italic;
    
}


