body {


    background: linear-gradient(to right, purple 0%, purple 50%, white 50%, white 100%);

}

body {

   color: midnightblue ;
    opacity: 75%;
    font-weight: bolder ;
    font-style: italic;

}

#style {

    background-color: lightgrey;
    border: 4px solid orangered;
    border-radius: 10%;
    padding: 20px;
    margin: 10px 8px 6px 4px ; 
    display: inline-block;

}

